.agents
.codex
.cursor
.git
.gitignore
.idea
.nova
.phpunit.cache
.vscode
.zed
.docker/app/Dockerfile
docker-compose.yml
node_modules
public/build
public/hot
storage/api-docs
storage/logs
vendor
.env
