<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="base64:Jw7y5Sx2V8wc7KHmV2vR9W7oN3a8B6lQyV5mF4nN3nQ="/>
        <env name="DB_CONNECTION" value="pgsql"/>
        <env name="DB_HOST" value="postgres"/>
        <env name="DB_PORT" value="5432"/>
        <env name="DB_DATABASE" value="tvshow_test"/>
        <env name="DB_USERNAME" value="postgres"/>
        <env name="DB_PASSWORD" value="postgres"/>
        <env name="DB_MAINTENANCE_DATABASE" value="postgres"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="JWT_SECRET" value="test-secret-CHANGE-ME-32chars-min"/>
    </php>
</phpunit>
